@model ST.WebUI.ViewModels.SkillFormViewModel

@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "Skills", FormMethod.Post, new { id = "skill-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="alert alert-info">All fields are <strong>required</strong>.</div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "skill-name", autofocus = true })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control category" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#skill-form').submit(function (e) {
                e.preventDefault();
                var skillName = $('#skill-name').val();
                var categoryId = $('.category').val();

                $.ajax({
                    url: `/api/skills/validateUnique?name=${skillName}&categoryId=${categoryId}`,
                    method: 'GET'
                })
                    .done(function (response) {
                        if (!response) {
                            e.preventDefault();
                            var message = $('<div class="alert alert-danger" role="alert">There is already a skill with such name.</div>')
                            $('.alert-info').after(message);
                            message.fadeOut(5000);
                        } else {
                            $('#skill-form').off('submit');
                            $('#skill-form').submit();
                        }
                    })
                    .fail(function () {
                        e.preventDefault();
                        alert('Error');
                    });
            });
        });
    </script>
}
