@model ST.WebUI.ViewModels.DeveloperViewModel
@{
    ViewBag.Title = "DeveloperProfile";
}

@Html.ActionLink("Add Skill", "Create", null, new { @class = "btn btn-info" })





<p>@Model.FirstName @Model.LastName</p>
<p>@Model.Email</p>

@foreach (var item in Model.SkillRatings)
{
    <div>@item.CategoryName | @item.SkillName | @item.Rating</div>
    <br />
}

@section Scripts 
{
    <script>
        $(function () {

        })
    </script>
}

