@model ST.WebUI.ViewModels.SkillRatingFormViewModel
@{
    ViewBag.Title = "SkillRatingForm";
}

<h2>Add a Skill</h2>

@using (Html.BeginForm("Create", "Developers"))
{
    @Html.AntiForgeryToken()
  
    <div class="form-group">
        @Html.LabelFor(m => m.Categories)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control categories" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Skills)
        @Html.DropDownListFor(m => m.SkillId, new SelectList(Model.Skills, "Id", "Name"), "", new { @class = "form-control skills" })
        @Html.ValidationMessageFor(m => m.SkillId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        @Html.TextBoxFor(model => model.Rating, new { @class = "form-control", type ="number", min="1", max="5" })
        @Html.ValidationMessageFor(m => m.Rating)
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
}

@section scripts
{
    <script>
        $(function () {
            $(".categories").on("change", function (e) {
                var categoryId = $(e.target).find(":selected").val();
                var skills = $(".skills");
                $.ajax({
                    url: "/api/skills/" + categoryId,
                    method: "POST"
                })
                    .done(function (response) {
                        skills.empty();
                        
                        $.each(response, function (index, item) {
                            var option = `<option value="${item.Id}">${item.Name}</option>`;
                            skills.append(option);
                        });
                    })
                    .fail(function () {
                        alert("Error.");
                    })
            });
        })
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}