@using X.PagedList.Mvc;
@using X.PagedList;
@model ST.WebUI.ViewModels.DevelopersViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Managers", FormMethod.Get))
{
    <div class="form-group">
        <div id="searchDevs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

@if (!Model.Developers.Any())
{
    <p>Sorry! No matches found :(</p>
}
else
{
    foreach (var developer in Model.Developers)
    {
        <div class="dev-description">
            <h3>
                <a href="/managers/developerprofile?email=@developer.Email">
                    @developer.FirstName @developer.LastName
                </a>
                <small>@developer.Email</small>
            </h3>
            <div>
                @foreach (var entry in developer.SkillRatings)
                {
                    <p>
                        <strong>@entry.Key:</strong>
                        @foreach (var skill in entry.Value)
                        {
                            <span>@skill.SkillName (@skill.Rating/5)</span>
                        }
                    </p>
                }
            </div>
        </div>
        <hr />
    }
}

@Html.PagedListPager((IPagedList)Model.Developers,
    page => Url.Action("Search", new { Model.SearchTerm, page }))
