@using X.PagedList.Mvc;
@using X.PagedList;
@model IEnumerable<ST.WebUI.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9 col-md-offset-1">

    <h2>Registered Users</h2>
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", null, new { @class= "delete-user" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)Model,
    page => Url.Action("Index", new { page }))
</div>

@section Scripts
{
    <script>
        $(function () {
            UsersController.init();
        });
    </script>
    }
